
body {
  font-family: "Avenir Next";
}


.samplebox {

  background-color: blue;
  width: 50px;
  height: 50px;

  font-size: 18px;
  border: 1px solid #dee7ec;
}

/*
  padding: 100px 80px;
  margin-top: 10px;
  margin-bottom: 30px;

*/
